*{
    background-color: rgb(13,17,23);
    color:white;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

img{
    display: block;
    width:40px;
    height:40px;

    margin-top:20px;
    margin-bottom:20px;
}

.sign_in h1{
    font-weight: 200;
    font-size: 24px;
}

.sign_in_pg{
    background-color: rgb(22,27,34);
    height:40vh;
    width:308px;
    border-radius:12px;

    display: flex;
    flex-direction: column;
}

p{
    background-color: rgb(22,27,34);
    margin-left:20px;
}

input{
    width:85%;
    height:20px;
    margin:2px auto;
}

.pass{
    display: flex;
    background-color: rgb(22,27,34);
}

a{
    background-color: rgb(22,27,34);
    margin-left:107px;
    margin-top:15px;
    text-decoration: none;
    color:rgb(42,121,227);

    font-size:0.9rem;
}

#login{

    display: block;
    margin-top:20px;

    background-color: rgb(35,134,54);
    height:40px;
    border-radius: 10px;

    font-size: 1rem;
}